* {
  box-sizing: border-box;
}
.container {
  border: black solid 1px;
  width: 400px;
  height: 400px;
}
.row {
  display: flex;
}
.gridSquare {
  border: #444242 solid 1px;
  /* margin: auto; */
}

.squareBlack {
  background-color: black;
}
